{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8"><img src="assets/img/img1.jpg" class="img-thumbnail"alt=""></div>
    <div class="col-4" style="background:rgb(240, 239, 239)"><center><h3>Creative Design</h3></center></div>
</div>
{{>footer}}